.nav {
  background-color: #e9b625;
  height: 40.5px;
}
.left {
  float: left;
  width: 50%;
  margin-left: 2%;
}

.right {
  float: right;
  width: 18%;
}

button {
  border: none;
  color: white;
  padding: 11px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background: none;
}

button:hover {
  background-color: #a57d0d;
}

.bgChange {
  background-color: #343432;
}
